body {
    font: 14px Verdana, Arial, sans-serif;
    background-color: #007795;
}

.title {
    color: white;
    text-align: center;
}

.app {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.character {
    padding-bottom: 4rem;
}

.character-image {
    width: 200px;
    border-radius: 0.5rem;
}

.card {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin-right: 2rem;
    background-color: #002f3b;
    border-radius: 0.5rem;
    text-align: left;
    margin-bottom: 20px;
    min-height: 300px;
    padding: 0.75rem 0.75rem;
    position: relative;
    color: white;
}

.select {
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
}

.select-div{
    position: absolute;
    bottom: 10px;
    width: 200px;
}

.position {
    text-align: center;
}

.hr {
    border-color: #fff;
    color: #fff;
    background-color: #fff;
    margin-top: 0;
}

.series {
    word-wrap: break-word;
}

.seriesList {
    padding-left: 18px;
}